.dockerignore
.DS_Store
.editorconfig
.git
.gitignore
.idea
.next
.prettierrc.json
.vscode

bin
coverage
docs
dist
jest.config.js
node_modules

Dockerfile
docker-compose.yml
Makefile
package-lock.json
test.js

scripts
server/__tests__
tmp

*.docx
*.md
*.log
*.zip
